a:first-of-type{
    color: purple;
}
a{
    color: red;
}
a:last-of-type{
    color: gold;
}
h1::first-letter{
    color: black;
}
h1{
    color:green;
}
article h1{
    color: orange;
}
li{
    color: magenta;
}
li:first-of-type
{
    color: black;
}
/*section p{
    color: sienna;
}
p:first-of-type{
    color: black}
}*/
p ~ p{
    color: darkgoldenrod;
}